.footer-contents {
  background-color: rgb(41, 41, 41);
  z-index: 100;
  padding: 80px 50px;
}

footer a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
}
footer a:hover {
  color: rgb(235, 235, 235);
}

footer h1 {
  color: white;
  font-family: MyFont;
  margin-bottom: 30px;
}

.footer-copy {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 20px 50px;
  color: white;
  background-color: rgb(27, 27, 27);
}
